# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Asset store tools
[Aa]ssets/AssetStoreTools*

# IDE
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# Unity crash reports
sysinfo.txt
crashlytics-build.properties

# Android
*.apk
*.aab
*.keystore
!**/user.keystore.meta
